img {
    width: 400px;
    margin: 20px;
}

.header {
    text-align: center;
}

.sub-header ul {
    background-color: black;
    text-align: start;
    line-height: 3;
    margin: 0;
}

.sub-header ul a {
    color: white;
    text-decoration: none;
    margin: 30px;
}

.btn-normal{
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-weight: normal;
    font-size: medium;
    cursor: pointer;
}